@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@600&family=Hanken+Grotesk:wght@500;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(221, 100%, 96%);
    font-family:'Hanken Grotesk', sans-serif;
    height: 100vh;
}

.apresentacao{
    margin: 10%;
    display: flex;
    justify-content: center;

}

.sec-um{
    background-image: linear-gradient(to bottom,hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    background-color: hsl(241, 81%, 54%);
    box-sizing: border-box;
    width: 100%;
    padding: 30px 30px 30px 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); 
    text-align: center;
    min-width: 340px;
    max-width: 340px;
    position: relative;
    left: 18px; 
}

h2{
    margin-top: 15px;
    font-size: 28px;
    
}

h2, #circulo{
    color: white;
}

#circulo{
    
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0) );
    border-radius: 50%;
    width: 180px;
    height: 180px;
    font-size: 70px;
    font-weight: 800;
    position: relative;
    left: 48px;    
}

.number{
    position: relative;
    top: 40px;
}

.titulo-sec-um, .titulo-sec-dois{
    margin-bottom: 28px;
}

.titulo-sec-um, .cor-lilas, .texto-parag{
    color: hsl(241, 100%, 89%);
    
}

.titulo-sec-um, .titulo-sec-dois{
    
    font-size: 20px;
}



.texto-parag{
    position: relative;
    top: 18px;
}

.sec-dois{
    box-sizing: border-box;
    width: 100%;
    padding: 30px 50px 30px 50px;
    border-radius: 0px 30px 30px 0px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); 
    min-width: 350px;
    max-width: 350px;  
    background-color: white; 
   

}



.titulo-sec-dois{
    color:hsl(224, 30%, 27%);
    margin-bottom: 20px;
    
}


.div-um, .div-dois, .div-tres, .div-quatro{
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.span-vermelho, .span-amarelo, .span-verde, .span-azul, .cor-azul, .cor-cinza{
    font-weight: 700;   
}


.span-vermelho, .span-amarelo, .span-verde, .span-azul, .cor-azul, .cor-cinza, .cor-lilas, .texto-parag,  button{
    font-size: 16px;   
}

.div-um{
    background-color: hsla(0, 100%, 67%, 0.171);    
}

.span-vermelho{
    color: hsl(0, 100%, 67%);
}

.div-dois{
    background-color:hsla(39, 100%, 56%, 0.15);
}

.span-amarelo {
    color: hsl(39, 100%, 56%);
}

.div-tres{
    background-color: hsla(166, 100%, 37%, 0.099);
}

.span-verde{
    color: hsl(166, 100%, 37%);
}

.div-quatro{
    background-color: hsla(234, 85%, 45%, 0.123);
}

.span-azul{
    color: hsl(234, 85%, 45%);

}

.cor-azul{
    color:hsl(224, 30%, 27%);
    font-weight:700;
    
    
}
.cor-cinza{
    color: hsla(224, 30%, 27%, 0.705);
    font-weight:700;
    
}

.cor-azul, .cor-cinza{
    position: relative;
    left: 70px;
}

.cor-lilas{
    font-weight: 500;
    position: relative;
    top: 35px;
}


button{
    background-color: hsl(224, 30%, 27%);
    border-radius: 22px;
    border: none;
    color: white;
    font-family: 'Hanken Grotesk', sans-serif;
    text-decoration: none;
    padding: 12px 93px;
    position: relative;
    left: 1px;
    margin-top: 18px;
}

button:hover{
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0) );
    background-color: hsl(241, 81%, 54%);
    cursor: pointer;
  
}
